/* RESET */

:root {
    --lightcyan-p: rgba(180, 208, 231, 1);
    --cyan-p: rgba(0, 97, 255, 1);

    --lightblue-p: rgba(0, 147, 206, 1);
    --blue-p: rgba(13, 36, 129, 1);
    --lightgreen-p: rgba(209, 233, 205, 1);
    --lightgrey-p: rgba(245, 245, 245, 1);
    --lightred-p: rgba(255, 28, 28, 1);
    --red-p: rgba(213, 0, 31, 1);
    --bordeaux-p: rgba(97, 8, 43, 1);
    --yellow-p: rgba(255, 216, 48, 1);

    --height-h: 4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}
menu {
    list-style-type: none;
}


/* COMMON */

/* Typography */

body {
    font-family: 'Open Sans', sans-serif;
}

.txt-0 {
    font-size: 0.8rem;
}

.txt-h4 {
    font-size: 1rem;
}

.txt-h3 {
    font-size: 1.2rem;
}

.txt-h2 {
    font-size: 1.8rem;
}

.txt-h1 {
    font-size: 2rem;
}

/* Colors */

.txt-w {
    color: rgba(255, 255, 255, 1);
}

.txt-b {
    color: rgba(0, 0, 0, 1);
}

.txt-br {
    color: var(--bordeaux-p);
}

/* Background Colors */

.bg-lc {
    background-color: var(--lightcyan-p);
}

.bg-c {
    background-color: var(--cyan-p);
}

.bg-g {
    background-color: var(--grey-p);
}


.bg-lgr {
    background-color: var(--lightgreen-p);
}

.bg-lbl {
    background-color: var(--lightblue-p);
}

.bg-bl {
    background-color: var(--blue-p);
}

.bg-br {
    background-color: var(--bordeaux-p);
}

.bg-lr {
    background-color: var(--lightred-p);
}

.bg-r {
    background-color: var(--red-p);
}

.bg-y {
    background-color: var(--yellow-p);
}

.bg-b {
    background-color: rgba(0, 0, 0, 1);
}

/* Flex-container */

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-w {
    flex-wrap: wrap;
}

.j-center {
    justify-content: center;
}

.j-between {
    justify-content: space-between;
}

.j-end {
    justify-content: end;
}

.al-center {
    align-items: center;
}

/* Layout */

.container {
    width: 60%;
    min-width: 845px;
    max-width: 1000;
}

.l-container {
    width: 70%;
    min-width: 845px;
    max-width: 1200;
}

.rel {
    position: relative;
}

.col-20 {
    width: calc(100%/5);
}

.col-30 {
    width: calc(100%/3);
    aspect-ratio: 1/1;
}

.col-30- {
    width: calc((100% - 20px) / 3);

    /* Debug */
    margin-bottom: 20px;
    min-height: 300px;
    background-color: grey;
}

.col-40 {
    width: 40%;

    /* Debug */
    margin-bottom: 20px;
    min-height: 300px;
    background-color: lightpink;
}

.col-60 {
    width: 60%;

    /* Debug */
    margin-bottom: 20px;
    min-height: 300px;
    background-color: lightseagreen;
}

/* Utilities */

.a-clean {
    color:inherit;
    text-decoration: none;
}

.btn-b {
    color: white;
    background-color: var(--cyan-p);
    padding: 0.5em 1em;
    line-height: 2em;
    text-align: center;
    margin: 1.5em;
}

.p-r-15 {
    padding-right: 1.5em;
}

.p-l-15 {
    padding-left: 1.5em;
}

.pad-v-30 {
    padding: 30px 0px;
}

.pad-v-60 {
    padding: 60px 0px;
}
______________________________________
.pad-g-10 {
    padding: 10px;
}

.pad-g-5 {
    padding: 5px;
}

.pad-v-20 {
    padding: 20px 0px;
}

.pad-v-10 {
    padding: 10px 0px;
}

.pad-h-10 {
    padding: 0px 10px;
}

.marg-h-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.marg-v-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.marg-v-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.marg-l-10 {
    margin-left: 10px;
}

.marg-r-10 {
    margin-right: 10px;
}


/* HEADER */

header {
    width: 100%;
    height: var(--height-h);
    padding: 0.5em;
    position: fixed;
    background-color: white;
}

header nav {
    width: 100%;
}

.logo-sect {
    width: 50%;

    /* Debug */
    border: 3px dashed white;
    min-height: calc(var(--height-h) - 40px);
}

.logo-sect li {
    margin-right: 10px;
}

.login-sect {
    width: 50%;

    /* Debug */
    border: 3px dashed white;
    min-height: calc(var(--height-h) - 40px);
}

.login-sect li {
    margin-left: 10px;
}

.login {
    text-decoration: none;
}

/* Debug Header */

.br-b {
    border: 1px dashed blueviolet;
}

/* MAIN */

main {
    padding-top: var(--height-h);

}

.hero-box {

    /* Debug */
    border: 1px dashed blueviolet;
    min-height: 400px;
}

.grey-box-h {

    /* Debug */
    background-color: grey;
    min-height: 100px;
    margin: 20px auto;
}

.square-h {
    height: 50px;
}

.team {
    width: 50%;
    height: 50%;
}

.c-t-a {

    /* Debug */
    min-height: 100px;
}


/* FOOTER */

footer {
    background-color: black;
    color: white;
}

.col-20 h3 {
    padding-bottom: 1.2em;
}

.col-20 li {
    padding-bottom: 1em;
}