/* RESET */

:root {
    --lightcyan-p: rgba(180, 208, 231, 1);
    --cyan-p: rgba(0, 97, 255, 1);

    --lightblue-p: rgba(0, 147, 206, 1);
    --blue-p: rgba(13, 36, 129, 1);
    --lightgreen-p: rgba(209, 233, 205, 1);
    --lightgrey-p: rgba(245, 245, 245, 1);
    --lightred-p: rgba(255, 28, 28, 1);
    --red-p: rgba(213, 0, 31, 1);
    --bordeaux-p: rgba(97, 8, 43, 1);
    --yellow-p: rgba(255, 216, 48, 1);

    --height-h: 4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

menu {
    list-style-type: none;
}

/* COMMON */

/* Flex-container */

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-w {
    flex-wrap: wrap;
}

.j-center {
    justify-content: center;
}

.j-between {
    justify-content: space-between;
}

.j-end {
    justify-content: end;
}

.al-center {
    align-items: center;
}

/* Layout */

.container {
    width: 60%;
    min-width: 845px;
    max-width: 1000;
}

.l-container {
    width: 70%;
    min-width: 845px;
    max-width: 1200;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
}

.col-20 {
    width: calc(100%/5);
}

.col-30 {
    width: calc(100%/3);
    aspect-ratio: 1/1;
}

.col-30- {
    width: calc((100% - 40px) / 3);
    margin-bottom: 20px;
}

.col-40 {
    width: 40%;
}

.col-60 {
    width: 60%;
}

.col-70 {
    width: 70%;
}

/* Typography */

body {
    font-family: 'Open Sans', sans-serif;
}

.txt-0 {
    font-size: 0.8rem;
}

.txt-1 {
    font-size: 1rem;
    line-height: 1.3rem;
}

.txt-2 {
    font-size: 1rem;
    line-height: 1.3rem;
    font-weight: 600;
}

.txt-h4 {
    font-size: 1rem;
}

.txt-h3 {
    font-size: 1.2rem;
}

.txt-h2 {
    font-size: 2rem;
}

.txt-h1 {
    font-size: 4.5rem;
    font-weight: bold;
}

/* Utilities */

.a-clean {
    display: inline-block;
    color:inherit;
    text-decoration: none;
}

.w-100 {
    width: 100%;
}

.btn-clean {
    border: none;
    outline: none;
}

.btn-b {
    color: white;
    background-color: var(--cyan-p);
    padding: 0em 1em;
    line-height: 2em;
    text-align: center;
}

.btn-w {
    background-color: white;
    padding: 0em 1em;
    line-height: 2em;
    text-align: center;
}

.p-g-3_ {
    padding: 3%;
}

.p-g-6_ {
    padding: 6%;
}

.p-b-0 {
    padding-bottom: 1em;
}

.p-b-1 {
    padding-bottom: 1.5em;
}

.p-b-h3 {
    padding-bottom: 1.2em;
}

.p-b-h2 {
    padding-bottom: 0.8em;
}

.p-b-h1 {
    padding-bottom: 0.6em;
}

.p-h-4 {
    padding: 0em .4em;
}

.p-h-8 {
    padding: 0em .8em;
}

.p-r-15 {
    padding-right: 1.5em;
}

.p-l-15 {
    padding-left: 1.5em;
}

.p-g-10- {
    padding: 20px;
}

.p-r-10- {
    padding-right: 8px;
}

.p-v-10- {
    padding: 10px 0px;
}

.p-v-30- {
    padding: 30px 0px;
}

.p-v-60- {
    padding: 60px 0px;
}

.p-t-80- {
    padding-top: 80px;
}

.p-b-60- {
    padding-bottom: 60px;
}

.m-auto {
    margin: auto;
}

.m-v-50- {
    margin: 50px 0px;
}

.m-l-15 {
    margin-left: 1.5em;
}

.m-b-15 {
    margin-bottom: 1.5em;
}

.m-b-60- {
    margin-bottom: 60px;
}

/* Colors */

.txt-w {
    color: rgba(255, 255, 255, 1);
}

.txt-b {
    color: rgba(0, 0, 0, 1);
}

.txt-bl {
    color: var(--cyan-p);
}

.txt-br {
    color: var(--bordeaux-p);
}

/* Background Colors */

.bg-lc {
    background-color: var(--lightcyan-p);
}

.bg-c {
    background-color: var(--cyan-p);
}

.bg-g {
    background-color: var(--grey-p);
}


.bg-lgr {
    background-color: var(--lightgreen-p);
}

.bg-lbl {
    background-color: var(--lightblue-p);
}

.bg-bl {
    background-color: var(--blue-p);
}

.bg-br {
    background-color: var(--bordeaux-p);
}

.bg-lr {
    background-color: var(--lightred-p);
}

.bg-r {
    background-color: var(--red-p);
}

.bg-y {
    background-color: var(--yellow-p);
}

.bg-b {
    background-color: rgba(0, 0, 0, 1);
}

/* Borders Colors */

.bo-b {
    border: 1px solid black;
}

/* HEADER */

header {
    width: 100%;
    height: var(--height-h);
    padding: 0.5em 1em;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    background-color: white;
}

header nav {
    width: 100%;
}

header li {
    height: var(--height-h);
}

.col-40 i {
    font-size: 3rem;
}

/* MAIN */

main {
    padding-top: var(--height-h);
}

.jumbo-img {
    width: 600px;
}

.p-g-partner {
    padding-top: 40px;
    padding-left: 40px;
}

.team {
    width: 50%;
    height: 50%;
}

.team img {
    filter: invert(1);
    width: 80%;
}

.team.bg-lgr::before {
    content: " ";
    width: 90%;
    height: 90%;
    position: absolute;
    background-color: rgba(162, 211, 155, 1);
}

.central-team {
    overflow: auto;
}

.central-logo {
    width: 50%;
}

/* Radio */

form input[type="radio"] {
    /* position: absolute; */
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

form .checkmark {
    position: absolute;
    top: calc(line-height/2);
    left: 0;
    height: .8em;
    width: .8em;
    border: 2px solid lightgray;
    border-radius: 50%;
}

input[type="radio"]:checked + .checkmark {
    border: .2em solid var(--cyan-p);
}

/* FOOTER */

footer {
    background-color: black;
    color: white;
}

/* EFFECTS */

/* Btn */

.btn-clean:hover {
    cursor: pointer;
}

.btn-press:hover {
    font-weight: 600;
    border-bottom: 3px solid var(--cyan-p);
}

.btn-b:hover {
    /* filter: brightness(140%); */
    opacity: 80%;
}

.btn-w:hover {
    background-color: var(--cyan-p);
    color: white;
    border: none;
}

/* FAQ */

.question {
    position: absolute;
    background-color: white;
}

.answer {
    position: relative;
    z-index: -1;
}

.question:hover {
    position: relative;
}

.question:hover .pin {
    opacity: 0;
}

/* Teams */

.team:hover {
    transform: scale(1.1);
}

/* Hero Arrow */

.fa-arrow-down {
    position: absolute;
    top: -40px;
    left: 0px;
}

.hero-col:hover .fa-arrow-down {
    animation-name: up-down;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes up-down {

    0% {
        top: -40px;
        left: 0px;
    }

    50% {
        top: -30px;
        left: 0px;
    }

    100% {
        top: -40px;
        left: 0px;
    }
}